@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

$dark-blue: #1e6c8d;
$dark-sea-blue: rgba(4, 28, 74);
$navy-blue: #071173;

/*translucent backgrounds */
$bg-t-black01: rgba(0, 0, 0, 0.1);
$bg-t-black07: rgba(0, 0, 0, 0.7);

@mixin btn-style($bg-color, $text-color, $border-color, $border-radius) {
  background-color: $bg-color;
  color: $text-color;
  border-radius: $border-radius;
  border: solid $border-color;
  &:hover {
    background-color: darken($bg-color, 5%);
  }

  &:active {
    background-color: darken($bg-color, 15%);
    color: $text-color;
    border: solid $border-color;
  }
}

.btn {
  &.btn-dark-blue {
    @include btn-style($dark-blue, $light, #0000, 5px);
  }
  .icon {
    width: 16px;
  }
}
body,
html {
  font-family: inter, sans-serif;
  height: 100%;
  width: 100%;
}

.header {
  background-color: $dark-sea-blue;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__text {
  color: $light;
  font-size: 0.8rem;
  margin: 0.5rem;
}
.header__link {
  text-decoration: none;
  align-items: normal;
}
.header__contact {
  width: 60%;
}
.header__menu {
  font-size: 1.8rem;
  margin-right: 0.5rem;
}
.header__title {
  margin: 0;
  font-size: 1rem;
}
.header__nav {
  width: auto;
}

.bg-image {
  background-image: url(../imgs/mainpagebackground.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-image__mask {
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(5px);
  background-color: $bg-t-black01;
  overflow: hidden;
}
.bg-image__card,
.bg-image__card-login {
  width: 50%;
  background-color: $bg-t-black07;
  font-family: inter;
}

.card-login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  .card__input-text {
    width: 90%;
  }
  .btn {
    display: block;
    width: 50%;
  }
}
.card-login__text {
  font-size: 0.8rem;
}
.card-login__link {
  text-decoration: none;
}
.card__text {
  font-size: 0.9rem;
  .form-check-label {
    text-align: left;
  }
}

.card__input-text {
  width: 50%;
}
.form-control {
  &.card__input-text {
    color: #ffffff;
    background-color: rgba(22, 22, 22, 0.8);
    border: solid rgba(128, 128, 128, 0.7) 1px;
    &::placeholder {
      color: rgba(255, 255, 255, 0.7);
    }
  }
}
.branding {
  align-items: center;
  justify-content: space-between;
}
.branding__logo {
  margin: 1rem 0 0 1rem;
}

.branding__buttons {
  margin-right: 0.5rem;
}
.branding__button {
  margin-right: 0.2rem;
}

.navbar__search {
  width: 90%;
}

.navbar__itens {
  width: 100%;
  justify-content: space-evenly;
  margin: 1rem 1rem;
}

.navbar__text {
  margin: 0 0.5rem;
}
.section {
  width: 90%;
  margin: 1rem 0 3rem 1rem;
}

.section__title {
  font-weight: 700;
  color: $navy-blue;
  width: 100%;
}

.section__item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.section__element {
  width: 30%;
  margin: 0.5rem 0.2rem;
  color: $dark;
  height: 20%;
  padding: 0.2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: solid 1px $dark;
  border-radius: 25px;
  &:hover {
    background-color: #071173;
    color: $light;
  }
  p {
    margin: 0.5rem;
  }
}
#section-mostAcessed {
  width: 90%;
  box-sizing: border-box;
}
.card-text,
card {
  margin: 1rem 0 1rem 0;
}

#section-recentCourses {
  width: 90%;
}

.money {
  color: green;
  text-align: center;
}
.swiper-slide {
  margin: 0 0.5rem;
}

.img-wrapper {
  height: 22vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-wrapper img {
  width: 100%;
  min-height: 80%;
  max-height: 100%;
  max-width: 100%;
}

.img-wrapper-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-wrapper-avatar {
  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: $navy-blue solid 5px;
    margin: 1rem 0 1rem 0;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: $navy-blue;
  color: $light;
  padding: 3rem;
  p {
    margin: 0;
  }
}

.footer__social {
  .social-icon {
    font-size: 1.5rem;
    margin-right: 0.7rem;
  }
}
.footer__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .logo {
    width: 30%;
  }
}
.section__container {
  display: flex;
  width: 97vw;
  justify-content: center;
  align-content: center;
}

.section__swiper {
  width: 90%;
}

.slide {
  display: none;
}

.header-cadastro {
  display: block;
  width: 100%;
  padding: 1.5rem;
}

.section-register {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-prev {
  font-size: 2rem;
  align-self: flex-start;
  padding: 0 0.5rem;
  &:hover {
    background-color: $blue-400;
    color: $light;
    border-radius: 50%;
    cursor: pointer;
  }
}
.btn-next {
  width: 50%;
}

.check-logo {
  font-size: 3rem;
  color: $blue-400;
}

.section-register__container {
  width: 34%;
  min-width: 30%;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem 1rem 2rem 1rem;
}

.slide__text {
  .slide__list {
    text-align: start;
    .slide__list__item {
      margin: 0.5rem 0;
    }
  }
}
.slide__input-text {
  width: 90%;
  margin: 0 auto;
  border: solid 1px $blue-300;
}

/*Celulares 576px pra cima*/
@include media-breakpoint-up(sm) {
  /* Menu-principal*/
  .cards-wrapper {
    display: flex;
  }

  /* Fim menu-principal*/
}

/*Celulares 576px pra baixo*/
@include media-breakpoint-down(sm) {
  /* index.html */
  .bg-image__card,
  .bg-image__card-login {
    width: 100%;
  }

  .card__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card__btn {
    display: block;
    margin-top: 1.5em;
    width: 60%;
  }

  .card__input-text {
    width: 90%;
  }
  /* Fim index.html */

  /* Menu-principal*/
  .section__element {
    width: 30%;
  }

  .section__swiper {
    width: 90%;
  }
  .swiper-slide {
    margin: 0;
  }

  .img-wrapper {
    width: 100%;
    height: 50vw;
  }
  .img-wrapper img {
    height: 500px;
    max-height: 100%;
    max-width: 100%;
  }
  .header__link {
    margin: 0;
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer__social {
    width: 50%;
    margin-bottom: 1rem;
    .social-icon {
      font-size: 1.5rem;
      margin-right: 0.7rem;
    }
  }

  /* Fim menu-principal*/
  /* Início cadastro.html */
  .header-cadastro {
    display: flex;
    justify-content: center;
  }

  .section-register__container {
    margin-top: 1rem;
    width: 90%;
  }
  /* Fim cadastro.html */
}
/* 576px até 768px (tablets) */
@media screen and (min-width: 576px) and (max-width: 768px) {
  /* index.html */
  .bg-image__card {
    width: 70%;
  }
  .card__input-text {
    width: 90%;
  }
  .card__btn {
    display: inline;
    margin-top: 1.5em;
    width: 50%;
  }
  /* Fim index.html */

  /* Login.html */
  .bg-image__card-login {
    width: 60%;
  }
  /* Fim login.html*/
  /* Menu principal*/
  .section__swiper {
    width: 90%;
  }

  .section__element {
    width: 30%;
  }
  /* Fim menu-principal*/
  /* Início cadastro.html */
  .header-cadastro {
    display: flex;
    justify-content: center;
  }

  .section-register__container {
    margin-top: 1rem;
    width: 70%;
  }
  /* Fim cadastro.html */
}
// 768px pra cima
@media screen and (min-width: 768px) {
  /* Início cadastro.html */
  .section-register__container {
    margin-top: 1rem;
    width: 50%;
  }
  /* Fim cadastro.html */
}

// 992px pra cima
@include media-breakpoint-up(lg) {
  /* Login.html */
  .bg-image__card-login {
    width: 35%;
  }
  /* Fim login.html*/
  /* Menu principal*/
  .section__element {
    width: calc(100% / 7);
  }
  /* Fim menu-principal*/
  /* Início cadastro.html */
  .section-register__container {
    margin-top: 1rem;
    width: 40%;
  }
  /* Fim cadastro.html */
}
@include media-breakpoint-up(xl) {
  /* Início cadastro.html */
  .section-register__container {
    margin-top: 1rem;
    width: 35%;
  }
  /* Fim cadastro.html */
}
