@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

$dark-blue: #1e6c8d;
$dark-sea-blue: rgba(4, 28, 74);

/*translucent backgrounds */
$bg-t-black01: rgba(0, 0, 0, 0.1);
$bg-t-black07: rgba(0, 0, 0, 0.7);

@mixin btn-style($bg-color, $text-color, $border-color, $border-radius) {
  background-color: $bg-color;
  color: $text-color;
  border-radius: $border-radius;
  border: solid $border-color;
  &:hover {
    background-color: darken($bg-color, 5%);
  }

  &:active {
    background-color: darken($bg-color, 15%);
    color: $text-color;
    border: solid $border-color;
  }
}

.btn {
  &.btn-dark-blue {
    @include btn-style($dark-blue, $light, #0000, 5px);
  }
  .icon {
    width: 16px;
  }
}

.header {
  background-color: $dark-sea-blue;
}
.header__nav {
  width: auto;
}

.bg-image {
  background-image: url(../imgs/mainpagebackground.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-image__mask {
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(5px);
  background-color: $bg-t-black01;
  overflow: hidden;
}
.bg-image__card,
.bg-image__card-login {
  width: 50%;
  background-color: $bg-t-black07;
  font-family: inter;
}

.card-login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  .card__input-text {
    width: 90%;
  }
  .btn {
    display: block;
    width: 50%;
  }
}
.card-login__text {
  font-size: 0.8rem;
}
.card-login__link {
  text-decoration: none;
}
.card__text {
  font-size: 0.9rem;
  .form-check-label {
    text-align: left;
  }
}

.card__input-text {
  width: 50%;
}
.form-control {
  &.card__input-text {
    color: #ffffff;
    background-color: rgba(22, 22, 22, 0.8);
    border: solid rgba(128, 128, 128, 0.7) 1px;
    &::placeholder {
      color: rgba(255, 255, 255, 0.7);
    }
  }
}

@include media-breakpoint-down(sm) {
  /* index.html */
  .bg-image__card,
  .bg-image__card-login {
    width: 90%;
  }

  .card__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card__btn {
    display: block;
    margin-top: 1.5em;
    width: 50%;
  }

  .card__input-text {
    width: 90%;
  }
  /* Fim index.html */
  /* Login.html */

  /* Fim login.html*/
}

@include media-breakpoint-between(sm, md) {
  /* index.html */

  .card__input-text {
    width: 90%;
  }
  .card__btn {
    display: inline;
    margin-top: 1.5em;
    width: 50%;
  }
  /* Fim index.html */

  /* Login.html */
  .bg-image__card-login {
    width: 60%;
  }
  /* Fim login.html*/
}

@include media-breakpoint-up(lg) {
  /* Login.html */
  .bg-image__card-login {
    width: 35%;
  }
  /* Fim login.html*/
}
